* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute; /* помним, что давая абсолют, нужно дать родителю релатив */
    width: 100%; /* ширина 100% от родителя */

   /*  position: relative; */ /* этот способ хуже */
   /*    z-index: 2; */
    top: 50px;
    height: 84px;
    background-color: rgba(0,0,0,.6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #fff;
}

.subheader  .subheader_phone {
    line-height: 12px;
    margin-top: 8px;
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.subheader .subheader_btn {
    margin-top: 19px;
    border-radius: 4px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border:none;
    
    text-shadow: 1px 1px 0 rgba(0,0,0, 0.21);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.promo {
    min-height: 800px;
    padding: 150px 0 135px 0;
    background: url(../img/bg/uber_bg.jpg) center center/cover no-repeat;
    
    /* transform: translateY(-84px);
    z-index: 1; */
}

.promo .promo_header {
    color: #fff; 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #fff; 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.21);

    border-radius: 4px;
    width: 259px;
    height: 63px;
    border: none;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.title {
    margin-bottom: 0;
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr  .reasons_subtitle {
    font-weight: 400;
    font-size: 17px;
    color: #1eacc7;
}

.reasons .reasons_block .reasons_descr  .reasons_text {
    line-height: 21px;
    font-weight: 300;
    font-size: 15px;
    color: #202020;
    
}



